.top-part{
  background-color: #f5f7fa;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.search-box{
  border: 2px solid grey;
  color: grey;
  font-size: 19px;
  width: 45%;
  height: 30px;
  align-content: center;
  margin-left: 15%;
}

.calendar-icon{
  width: 40px;
  height: 40px;
}

.search-icon{
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  background-color: grey;
  margin-right: 17%;
}

.day{
  display: flex;
  flex-direction: column;
  margin-left: 1.5px;
  align-items: center;
}

.left-part img{
  height: 50px;
  width: 50px;
}

.bottom-part{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-part{
  background-color: #f28482;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 80vh;
  color: #f5f7fa;
  padding: 20px;
  border-radius: 0 20px 20px 0;
}

body{
  margin: 0px;
}

.options{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.profile h3{
  margin: 0px;
}

.profile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.dashboard h3{
  margin-right: 0px;
  padding-right: 0px;
}

.dashboard{
  background-color: #f5f7fa;
  color: #f28482;
  border: none;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-left: -10px;
}

.right-part{
  margin-left: 100px;
  border: 2px solid gray;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey;
  width: 1000px;
  height: 80vh;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
}

.left{
  height: 75vh;
  border: none;
  flex: 1;
  min-width: 0px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(180, 173, 173);
  margin-left: 20px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.right{
  flex: 1;
  
  height: 75vh;
  margin-right: 20px;
  margin-top: 20px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details img{
  height: 20px;
  margin-left: 250px;
}

.details{
  margin-left: 30px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.today-tasks{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.task-1, .task-2, .task-3, .comp_task-1, .comp_task-2{
  margin-left: 0px;
  width: 95%;
  border: 4px solid rgb(242, 132, 130,0.9);
  border-radius: 13px;
  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: 0.3s;
}

.task-1 img, .task-2 img, .task-3 img, .comp_task-1 img, .comp_task-2 img{
  padding-left: 15px;
  margin-right: 15px;
  margin-top: 9px;
  flex-shrink: 0;
}

.task-1 h3, .task-2 h3, .task-3 h3, .comp_task-1 h3, .comp_task-2 h3{
  margin: 0px;
  margin-top: 9px;
}

.info{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 9px;
  text-align: left;
  padding-left: 1px;
  margin-top: 9px;
  margin-bottom: 8px;
}

.info p {
  margin: 0;
  color: gray;
  
}

.activity{
  margin-right: 2px;
}

.activity p{
  margin: 0px;
  margin-top: 8px;
}

.title{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-1:hover, .task-2:hover, .task-3:hover, .comp_task-1:hover, .comp_task-2:hover{
  transform: translateY(-15px);
  background-color: #fff9f9;
  border-color: #f28482;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.status{
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px grey;

  flex: 0.8;
}

.completed-tasks{
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 5px grey;

  flex: 1.3;
}

.graphs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.status-title{
  text-align: center;
  color: #f28482;
  font-weight: 700;
  font-size: 18px;
}

.graph-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: conic-gradient(var(--clr) var(--perc), white 0);

  display: flex;
  align-items: center;
  justify-content: center;
}

.green{
  --clr: #2ecc71;
}

.yellow{
  --clr: #f1c40f;
}

.red{
  --clr: #ff3b30;
}

.inner-content{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold
}

.dot{ 
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.red-dot{
  background-color: red;
}

.yellow-dot{
  background-color: #f1c40f;
}

.green-dot{
  background-color: #2ecc71;
}

.completed-tasks{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
